#page-container { width: 760px; margin: auto; background: red; }

#header { background: pink; height: 150px; }

#content { background:  goldenrod;}

#footer { background: wheat; height: 66px; }  

#main-nav {
    height: 15px;
    text-align: center;
    font-family: Tahoma, Arial, Helvetica, sans-serif, sans-serif;

}

#main-nav a{
    color: #c9;
    text-decoration: none;
}

#main-nav a:hover{
    color: #db6d16;}

#footer {
        height: 70px;
        font-family: Tahoma, Arial, helvetica, sans-serif;
        font-size: 10px;
        color: #c9c9c9;
        border-top: 1px solid #efefef;
        padding: 13px 25px;
        line-height: 18px;
}

#footer a { 
color: #c9c9c9; 
text-decoration: none;
        } 

#footer a:hover { 
        color: #db6d16;
} 
#footer #altnav { 
        width: 350px; 
        float: right; 
        text-align: right;
        }

        #content { 
            font-family:Tahoma, arial, helvetica, sans-serif; 
            font-size:14px; 
            padding: 15px 15px;}

#side_bar{ 
background:#eeeae3; 
}

#side_bar{ 
background:rgba(249, 249, 244, 0.4)
00; float:right; 
width:150px;} 

